<div class="looks">
    <div>
        <h1>Address Page</h1>

        <label for="input Address">Address Id: </label><br />
        <input type="text" #AddressId /><br>
        <button (click)="deleteAddress(+AddressId.value)">Delete with Id</button>
        <button (click)="getAddressWithIdGeneric(+AddressId.value)">Get with Id</button><br />
    
        <form [formGroup]="AddressForm" (ngSubmit)="onSubmit()">
          <label for="Street">Street Name:</label><br />
          <input type="text" name="street" id="street" formControlName="street" /><br />
    
          <label for="streetNumber">Street Number:</label><br />
          <input type="text" name="streetnumber" id="streetnumber" formControlName="streetNumber" /><br />

          <label for="Building">Building:</label><br />
          <input type="text" name="building" id="building" formControlName="building" /><br />

          <label for="Floor">Floor:</label><br />
          <input type="text" name="floor" id="floor" formControlName="floor" /><br />

          <label for="direction">direction:</label><br />
          <input type="text" name="streetnumber" id="streetnumber" formControlName="direction" /><br />

          <label for="postalCodeId">Postal Code:</label><br />
          <input type="text" name="postalCodeId" id="postalCodeId" formControlName="postalCodeId" /><br />


          <button type="submit" value="Submit">Create Address</button>
        </form><br />
    
        <div>
          <table>
            <thead>
              <tr>
                <th><label for="addressId">Address Id</label></th>
                <th><label for="street">Street Name</label></th>
                <th><label for="streetNumber">Street Number</label></th>
                <th><label for="building">Building</label></th>
                <th><label for="floor">Floor</label></th>
                <th><label for="direction">Direction</label></th>
                <th><label for="postalCodeId">Postal Code Id</label></th>
              </tr>
            </thead>
            <tbody>
              @for (address of addressList; track $index){
              <tr>
                <td>{{ address.addressId}}</td>
                <td>{{ address.street}}</td>
                <td>{{ address.streetNumber}}</td>
                <td>{{ address.building}}</td>
                <td>{{ address.floor}}</td>
                <td>{{ address.direction}}</td>
                <td>{{ address.postalCodeId}}</td>
                <button (click)="deleteAddress(address.addressId)">SLET</button>
              </tr>
              }
            </tbody>
          </table>
        </div>
    </div>
</div>