<p>user works!</p>

<label for="input name">User Id: </label><br />
<input type="text" #UserId />
<button (click)="deleteUserById(+UserId.value)">Delete with Id</button>
<button (click)="getUserWithId(+UserId.value)">Get with Id</button><br />

<br /><br />


<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <label for="Uname">User name:</label><br />
  <input type="text" name="username" id="username" formControlName="UserName" /><br />

  <label for="Pass">Password:</label><br />
  <input type="text" name="password" id="password" formControlName="Password" /><br />

  <label for="Email">Email:</label><br />
  <input type="text" name="email" id="email" formControlName="Email" /><br />

  <label for="PostalCodes">PostalCodes</label><br />
  <select name="postalcodeid" id="postalcodeid">
    <option value="">--Please choose an option--</option>

    @for (postalcode of this.postalList; track $index) {
    <option [value]="$index">{{ postalcode.postalCodeId }}</option>
    }
  </select><br />
  <button type="submit">TRYK MIG</button>
</form>


<table>
  <thead>
    <tr>
      <th><label for="UserId">Id</label></th>
      <th><label for="Username">User Name</label></th>
      <th><label for="Password">Password</label></th>
      <th><label for="Email">Email</label></th>
      <th><label for="PostalCodes">PostalCodes</label></th>
    </tr>
  </thead>
  <tbody>
    @for (user of userList; track $index){
    <tr>
      <td>{{ user.userId }}</td>
      <td>{{ user.userName }}</td>
      <td>{{ user.password }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.postalCodes }}</td>
      <button (click)="deleteUserById(user.userId)">SLET</button>
    </tr>
    }
  </tbody>
</table>