<link rel="stylesheet" href="./app.component.css">

<!--hej med jer

her er der noget tekst
<br>
{{x}} og noget mere {{tal}}
<br>
{{navn}} og noget mere {{navne}}

 {{}} kaldes interpolation -->
<!--
<button style="color: purple;" (click)="helloWorld2();">Click Me!</button>
@if (sandt){
    <p>tekst bliver vist</p>
}

Her kan vi kalde vores nye components !! -->
<!--<app-crud></app-crud>-->


<div class="header-bar">
    <nav>
        <ul>
            <li><span [routerLink]="'/frontpage'" routerLinkActive="active">Front Page</span></li>
            <li><span [routerLink]="'/login'" routerLinkActive="active">Login Page</span></li>
        </ul>
    </nav>
</div>
<!-- The routed views render in the <router-outlet>-->
<div class="header-spacer"></div>

<main>
    <router-outlet></router-outlet>
</main>    



<!--<app-test-component></app-test-component>-->